@import '../variables.scss';

.asset-result-card {
  width: 100%;
  margin: 20px 0;
  font-family: $default-font;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-default);

  header {
    padding: 1rem 0;
    color: var(--color-primary);
    font-size: 30px;
  }

  .asset-result-card-body {
    display: flex;
    justify-content: space-between;

    .asset-info {
      display: flex;
      width: 50%;
      gap: 2rem;
      .asset-result-card-info-container {
        .asset-result-card-info {
          display: flex;
          align-items: center;
          .asset-result-img {
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            margin-right: 0.7rem;
          }

          .info {
            display: flex;
            flex-direction: column;

            a {
              text-decoration: none;
              p {
                font-weight: 600;
                font-size: 20px;
                color: var(--color-secondary);
                margin: 0;

                &:hover {
                  color: var(--color-secondary-hover);
                }
              }
            }

            small {
              color: var(--color-primary);
            }
          }
        }
        .asset-card-info-stats {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          line-height: 15px;
          p {
            color: var(--color-secondary);
            margin: 0.3rem 0.5rem;

            strong {
              color: var(--color-primary);
              font-weight: 400;
            }
          }
        }
      }
    }

    .asset-result-card-s {
      width: 40%;
      display: flex;
      justify-self: flex-end;
      justify-content: center;

      .asset-preview {
        display: flex;
        justify-content: center;
        .asset {
          p {
            text-align: center;
            margin: 0;
            margin-bottom: 0.3rem;
            color: var(--color-secondary);
          }
          .asset-preview-img {
            width: 120px;
            height: 120px;
          }
        }
      }

      .wego-score {
        text-align: center;
        p {
          margin: 0;
        }

        small {
          font-size: 20px;
          font-weight: 600;
          color: #38b87d;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .asset-result-card {
    .asset-result-card-body {
      flex-direction: column;

      .asset-info {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
        .asset-result-card-stats {
          align-self: flex-start;
          font-size: 14px;
        }
      }
      .asset-result-card-s {
        width: 100%;

        .asset-preview {
          justify-content: flex-start;
        }
      }
    }
  }
}
