@import '../variables.scss';

.checkbox-label {
  font-family: $default-font;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  user-select: none;
  color: var(--color-secondary);
}

.checkbox {
  margin-right: 5px;
}
