@import '../variables.scss';

a {
  text-decoration: none;

  .collection-asset-card {
    width: 100%;
    border: 1px solid #f0f0f1;
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    .asset-card-header {
      display: flex;
      justify-content: space-between;

      p {
        color: $primary-color;

        &:last-child {
          color: $secondary-color;
          font-size: 15px;
        }
      }
    }

    .asset-card-image {
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &:hover {
      transition: all 0.2s ease 0s;
      box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    }

    .asset-card-info {
      text-align: center;

      p {
        &:first-child {
          color: $primary-color;
        }

        color: $secondary-color;
        margin: 0;
        margin-top: 10px;

        svg {
          color: $primary-color;
        }
      }
    }
  }
}
