@import '../variables.scss';

.dark-primary-btn {
  padding: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: bold;
  background-color: var(--color-primary);
  border-color: var(--border-default);
  border-width: 0.06rem;
  border-style: solid;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
