.drop-down-collections {
  width: 100%;
  overflow: auto;
  header {
    color: var(--color-primary);
    font-weight: 600;
    margin: 0.6rem 0;
    margin-bottom: 11px;
  }

  .collection {
    border-bottom: 1px solid var(--border-default);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 136px;

    &:hover {
      border-bottom: 1px solid var(--color-primary);
    }

    .collection-left {
      .collection-info {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0.5rem;
        p {
          color: var(--color-secondary);
          margin: 0;
          font-weight: 500;
          span {
            margin-left: 0.5rem;
            background-color: var(--color-primary);
            padding: 0.2rem 0.4rem;
            font-size: small;
          }
        }
        .collection-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .trades {
          display: flex;
          gap: 0.6rem;
          line-height: 17px;
          p {
            color: var(--color-primary);
          }
          small {
            color: var(--color-primary);
            margin-left: 4rem;
            &:last-child {
            }
          }
        }
      }

      .collection-stats {
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        border: none;
        margin-top: 8px;
        small {
          margin: 0.3rem;
          strong {
            font-weight: 400;
            color: var(--color-primary);
            font-size: 14px;
          }
        }
      }
    }

    .assets-preview {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .assets {
        display: flex;
        justify-content: center;
        gap: 0.3rem;

        img {
          width: auto;
          height: 80px;
        }
      }
    }
  }

  a {
    color: var(--color-secondary);

    &:hover {
      color: var(--color-secondary-hover);
    }
  }
}

@media screen and (max-width: 1288px) {
  .drop-down-collections {
    width: 100%;
    margin-bottom: 0.8rem;

    .collection {
      .assets-preview {
        .assets {
          img {
            width: 70px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .drop-down-collections {
    width: 100%;
    margin-bottom: 0.8rem;

    .collection {
      .collection-left {
        .collection-stats {
          width: 100%;
        }
      }
    }
  }
}
