@import '../variables.scss';

a {
  color: $secondary-color;

  &:hover {
    color: $secondary-color;
  }

  .exact-match-card {
    width: 300px;
    height: 350px;
    border: 1px solid var(--border-default);
    border-radius: 10px;
    overflow: hidden;
    font-family: $default-font;
    background-color: var(--bg-canvas-default);

    header {
      padding: 0.5rem;
      background-color: var(--color-primary);
      color: #fff;
      text-align: center;
    }

    .exact-match-card-info-container {
      display: flex;
      padding: 0.3rem;
      line-height: 20px;
      gap: 0.6rem;
      .exact-match-img {
        object-fit: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .exact-match-card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-size: 20px;
          margin: 0;
          color: var(--color-secondary);
        }
        .wego-score {
          width: 47%;
          text-align: center;

          small {
            font-weight: 500;
            color: var(--color-primary);
          }
          p {
            color: #38b87d;
          }
        }
      }
    }

    .date-add {
      padding: 0.5rem;
      color: var(--color-primary);
    }

    .stats {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;

      .stat {
        width: 50%;
        p {
          margin: 0;
          color: var(--color-primary);

          &:last-child {
            color: var(--color-secondary);
          }
        }
      }
    }

    .community-trust {
      padding: 0.5rem;
      .reactions {
        display: flex;
        gap: 0.4rem;
        .reaction {
          display: flex;
          align-items: center;
          color: #38b87d;

          &:last-child {
            color: rgb(240, 59, 59);
          }

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
