@import '../variables.scss';

.favorites {
    display: flex;
    flex-direction: row;
    min-height: 500px;

    .favorites-lists {
        flex-grow: 4;
    }

    .Mui-selected, .PrivateTabIndicator-colorPrimary-2 {
        color: var(--color-primary) !important;
    }   

    .MuiPaper-root {
        background-color: transparent !important;
        border: 1px solid var(--border-default) !important;
        box-shadow: transparent !important;
        border-radius: 0.25rem;
    }

    .MuiTab-textColorInherit {
        color: var(--color-secondary);
    }

    .PrivateTabIndicator-colorSecondary-3 {
        background-color: var(--color-primary) !important;
    }
}