@import '../variables.scss';

.favorite-btn {
  
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow:visible;
  border-width: 0;
  background-color: transparent;
  animation: unhover-bounce 1 0.3s ease-in;
  transform-origin: center;

  .favorite-toggled {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform-origin: center;
    animation: hearted 1 0.2s ease-out;

    svg {
      color: var(--color--favorite);
      margin-right: 0.5rem;
    }


    @keyframes hearted {
      from {
        transform: scale(1);
      }
      75% {
        transform: scale(1.2);
      }
      to {
        transform: scale(1);
      }
    }
  
  }

  .favorite-untoggled {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      color: var(--color-primary);
      margin-right: 0.5rem;
    }

  }

  .favorite-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    .spinner {
      animation: spin infinite 5s linear;
      color: var(--color-secondary);
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  


  &:hover{
    animation: hover-bounce 1 0.3s ease-out;
    transform: scale(1.1);
  }

  @keyframes hover-bounce {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  @keyframes unhover-bounce {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
}
