@import '../variables.scss';

.footer {
  .footer-c {
    width: 100%;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    flex-wrap: wrap;

    a {
      color: #fff;
      margin-left: 5px;

      &:first-child {
        padding-right: 5px;
        border-right: 1px solid #fff;
      }
    }

    .socials {
      display: flex;
      margin: 0 3rem;
      .icons {
        a {
          border: none;
          margin-left: 0;
          padding-right: 0;
          svg {
            margin: 0 0.5rem;

            &:first-child {
              margin: 0 0.3rem;
            }

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

// media queries

@media screen and (max-width: 993px) {
  .footer {
    .footer-container {
      .footer-info {
        flex-direction: column;
        align-items: center;

        .newsletter {
          width: 100%;
          p {
            text-align: center;
            width: 100%;
          }

          form {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            input {
              min-width: 100px;
            }
          }
        }

        .socials {
          align-items: center;
          margin: 0;
          .icons {
            text-align: center;
          }
        }
      }
    }
  }
}

//small screens
@media screen and (max-width: 576px) {
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 993px) {

// }

// //small screens
@media screen and (max-width: 576px) {
  .footer {
    .footer-container {
      .footer-info {
        flex-direction: column;
        align-items: center;

        .newsletter {
          width: 100%;
          p {
            text-align: center;
            width: 100%;
          }

          form {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            input {
              min-width: 100px;
            }
          }
        }

        .socials {
          align-items: center;
          margin: 0;
          .icons {
            text-align: center;
          }
        }
      }
    }

    .footer-c {
      .socials {
        margin-top: 0.7rem;
        .icons {
          a {
            svg {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}
