@import '../variables.scss';

.hot-collections-bar {
  display: flex;
  background-color: #fff;
  font-family: $default-font;
  overflow-x: auto;
  .price {
    border-right: 1px solid $muted;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    p {
      color: #aaaaaa;
      margin: 0;
      white-space: nowrap;
    }
  }

  .hot-collections {
    display: flex;
    overflow-x: auto;
    cursor: pointer;
    min-height: 42px;
    a {
      display: flex;
      align-items: center;
      color: $secondary-color;
      .hot-collection {
        display: flex;
        align-items: center;
        padding: 0.5rem 1.5rem;

        small {
          margin-right: 0.3rem;
        }

        p {
          margin: 0;
          margin: 0 0.3rem;
          white-space: nowrap;
        }

        img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }

      &:hover {
        color: $secondary-color-hover;
      }
    }
  }
}
.hot-bar-normal {
  width: 80%;
}

.hot-bar-lg {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .hot-collections-bar {
    .price {
      align-items: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .hot-collections-bar {
  }
}

// //small screens
@media screen and (max-width: 576px) {
  .hot-collections-bar {
    .price {
      display: none;
    }
  }
}
