.identicon div {
    /*
    height: 16px;// 1rem;
    width: 16px; //1rem;
    border-radius: 1.125rem;
    */
    border: 2px solid #000;
    //background-color: black;
    position: relative;
    top: -12px;
    left: 24px;


}

