.search-bar-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
  .search-bar-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    small {
      padding: 0 0.8rem;
      color: #bbbbbb;
    }
    button {
      padding: 0.5rem 1rem;
      margin: 1rem auto;
    }
  }

  .search-bar-drop-down {
    min-width: 100vw;
    max-width: 100vw;
    top: 36%;
    z-index: 199;
    position: absolute;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
    background-color: var(--bg-search-input);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    .large-table-match {
      display: none;
    }
    a {
      text-decoration: none;
    }

    .loader-container {
      height: 630px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-secondary);
    }

    .drop-down-results {
      display: flex;
      justify-content: space-around;
      padding: 1.5rem;

      .mobile-match {
        display: none;
      }

      .drop-down-no-results {
        height: 630px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .drop-down-footer {
      text-align: center;
      background-color: var(--bg-header);
      color: var(--color-secondary);
      padding: 0.5rem 0;
      border: 1px solid var(--border-default);

      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

//QUERIES//

@media screen and (max-width: 1200px) {
  .search-bar-wrapper {
    .search-bar-control {
      .search-input {
        &::placeholder {
        }
      }
    }
    .search-bar-drop-down {
      .large-table-match {
        display: none;
      }

      .drop-down-results {
        .mobile-match {
        }

        .desktop-match {
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .search-bar-wrapper {
    width: 40%;
    .search-bar-control {
      .search-input {
        &::placeholder {
        }
      }
    }
    .search-bar-drop-down {
      .large-table-match {
        display: block;
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
      }

      .drop-down-results {
        .mobile-match {
        }

        .desktop-match {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .search-bar-wrapper {
    width: 50%;
    .search-bar-control {
      align-items: center;
      .search-input {
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    .search-bar-drop-down {
      top: 37%;

      .large-table-match {
        display: none;
      }
      .drop-down-results {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        .mobile-match {
          display: block;
          margin-bottom: 0.5rem;
        }

        .desktop-match {
          display: none;
        }
      }
    }
  }
}

// //small screens
@media screen and (max-width: 576px) {
  .search-bar-wrapper {
    width: 80%;
    .search-bar-control {
      align-items: center;
      .search-input {
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    .search-bar-drop-down {
      top: 37%;
      .drop-down-results {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        .mobile-match {
          display: block;
          margin-bottom: 0.5rem;
        }

        .desktop-match {
          display: none;
        }
      }
    }
  }
}
