@import '../variables.scss';

.profile-menu {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;

    .Mui-selected, .PrivateTabIndicator-colorPrimary-2 {
        color: var(--color-primary) !important;
    }   
}
