


.mynfts {

    .sync-bar {
        height: 40px;
        padding-right: 4rem;
        width: 100%;


        display: flex;

        justify-content: flex-end;

        .dark-primary-btn {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
        }

        .favorite-spinner {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 5rem;
            color: var(--color-secondary);

            .span {
                display: inline-block;
            }

            .spinner {
              margin-right: 0.3rem;
              animation: spin infinite 5s linear;
              color: var(--color-secondary);
            }
            @keyframes spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }
    }
}