.top-collections-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-canvas-default);
  border: 1px solid var(--border-default);
  border-radius: 0.4rem;
  min-width: 300px;
  width: 310px;
  min-height: 592px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.4rem 0;

  .card-title {
    font-weight: 800;
    color: var(--color-primary);
    padding: 0.8rem 1rem;
  }

  p {
    width: 2.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary);
    margin: 0;
  }

  .collection-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.5rem 1rem;

    cursor: pointer;
    &:hover {
      background-color: var(--canvas-default-hover);
    }

    .collection-pic {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 0 10px;
    }

    .collection-data {
      display: flex;
      flex-direction: column;

      p {
        font-weight: 600;
        color: var(--color-primary);
        font-size: 1rem;
        margin: 0;
      }

      small {
        font-weight: 400;
        color: #9ca3af;
      }
    }
  }
}
