@import '../../variables.scss';

.collection-assets-container {
  display: flex;
  padding: 1rem 2rem;
  padding-right: 0;

  .collection-assets {
    width: 100%;
    padding: 0rem 3rem;
    .assets-header {
      width: 100%;

      margin: 1rem 0;

      .assets-sort {
        width: 60%;
        display: flex;
        align-items: center;
        padding: 0 0.4rem;
        .sort-elements {
          display: flex;
        }
        p {
          color: $primary-color;
          margin: 0;
          margin-right: 1rem;
        }

        select {
          width: 250px;
          padding: 0.5rem;
          border-radius: 9px;
          margin-right: 1rem;
          border: 1px solid #aaaaaa;
          color: $secondary-color;

          &:focus-within {
            outline: none;
          }
        }

        input {
          border: 1px solid #aaaaaa;
          padding: 0.5rem;
          border-radius: 9px;
          color: $secondary-color;
          &:focus-within {
            outline: none;
          }
        }
      }
    }
  }

  .assets-container {
    height: 100vh;
    .loader-assets {
      width: 100%;
      height: 1118px;
      display: flex;
      justify-content: center;
    }

    .assets-container-infinite {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 15px;
      align-items: stretch;
      padding: 0.4rem;
    }
  }
}

.assets-select {
  width: 100%;
}

.collection-assets-filters {
  width: 300px;
  margin: 1rem;
  margin-right: 0;

  header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    color: $primary-color;
    font-size: 25px;
    border-bottom: 1px solid #aaaaaa;
    user-select: none;

    .header-collapsed-off {
      width: 100%;
      .header-action-collapse {
        display: flex;

        align-items: center;

        svg {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .filter {
    width: 100%;

    .filter-header {
      padding: 0.8rem;
      border-bottom: 1px solid #aaaaaa;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $secondary-color;
      user-select: none;
      cursor: pointer;
      p {
        font-size: 25px;

        margin: 0;
      }
    }

    .filter-body {
      border-bottom: 1px solid #aaaaaa;
      padding: 0.5rem;
    }
  }
}
.filter-collapse {
  width: 50px;
  border: 1px solid #dbdbdb;
  border-left: none;
  border-bottom: none;

  header {
    cursor: pointer;
    display: flex;
    justify-content: start;
    padding: 0.8rem;
    color: $primary-color;
    font-size: 25px;
    border-bottom: none;
  }
}

@media screen and (max-width: 1200px) {
  .collection-assets-container {
  }

  .search-filters {
    display: none;
  }
}

@media screen and (max-width: 993px) {
  .collection-assets-container {
    .collection-assets {
      .assets-header {
        flex-direction: column;

        .assets-sort {
          width: 100%;
          justify-content: center;
        }

        .assets-pagination {
          align-self: flex-end;
        }
      }
    }
  }
}

// //small screens
@media screen and (max-width: 576px) {
  .collection-assets-container {
    .collection-assets {
      display: flex;
      flex-direction: column;
      align-items: center;

      .assets-header {
        margin: 0.5rem 0;

        .assets-sort {
          display: flex;
          flex-direction: column;

          .sort-elements {
            width: 100%;
            margin: 1rem 0;
            display: flex;
            align-items: center;
          }
        }

        .assets-pagination {
          width: 100%;
          button {
            padding: 0.5rem 1rem;
          }
        }
      }
    }

    .assets-container {
      .asset {
        width: 100%;
      }
    }
  }
}
