@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@502;600;800;900&display=swap');

$primary-color: #1f71ba;
$secondary-color: #666666;
$light-gray: #676767;
$bg-primary: #fff;

$muted: rgb(242, 243, 247);

$secondary-color-hover: #4b4a4a;

$default-font: 'Raleway', sans-serif;
