@import '../../variables.scss';

.nft-search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100vw;
  height: 40vh;
  font-family: $default-font;

  .search-section-logo {
    width: auto;
    height: 100px;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
