@import '../../variables.scss';

.full-search-container {
  font-family: $default-font;
  padding: 2rem;
  min-height: 100vh;
  .full-search-header {
    display: flex;
    background-color: var(--bg-app);
    align-items: flex-end;
    position: sticky;
    top: 70px;
    z-index: 30;
    padding: 0.5rem;
    width: 100%;
    img {
      width: 230px;
      height: 100%;
      object-fit: contain;
      margin-right: 1rem;
    }

    .search-input {
      width: 30%;
    }

    small {
      margin-left: 5px;
      align-self: flex-end;
      color: #bbbbbb;
    }
  }

  .search-filters {
    display: flex;
    align-items: center;
    border: none;
    width: calc(90vw - 20px);
    ul {
      margin: 1.5rem 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      list-style: none;

      .active {
        border-bottom: 1px solid var(--color-primary);
      }

      li {
        cursor: pointer;
        color: var(--color-primary);
        margin-right: 2.5rem;
        border-bottom: 1px solid transparent;
        white-space: nowrap;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 0.9rem;
          width: 100%;
          border-bottom: 1px solid var(--color-primary);
          margin-top: 10px;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
        }

        &:hover {
          &::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }

    // .toggle-tools {
    //   display: flex;
    //   align-items: center;
    //   cursor: pointer;
    //   border: 1px solid #d6d6d6;
    //   padding: 5px;
    //   border-radius: 5px;
    //   color: $secondary-color;
    //   p {
    //     margin: 0;
    //     margin-right: 5px;
    //   }

    //   &:hover {
    //     color: $secondary-color-hover;
    //     border: 1px solid #adadad;
    //     box-shadow: rgb(3 17 29 / 15%) 0px 0px 10px 0px;
    //   }
    // }
  }
  .tools {
    display: flex;
    padding-left: 5.5rem;
    .tool {
      position: relative;
      cursor: pointer;
      color: #a0a0a0;
      margin-right: 1rem;
      &:hover {
        color: var(--color-primary);
      }
      p {
        font-weight: 500;
        font-size: 12px;

        margin: 0;
      }

      .drop-down-tool {
        z-index: 9999;
        cursor: auto;
        border-radius: 10px;
        position: absolute;
        box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
        background-color: #ffff;
        padding: 1rem 0;
        padding-bottom: 0.8rem;
        padding-left: 2rem;
        padding-right: 4rem;
        ul {
          padding: 0;
          list-style: none;
          margin: 0;

          li {
            cursor: pointer;
            color: var(--color-secondary);
            font-size: 15px;
            margin: 0.2rem 0;

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
  .search-results-container {
    .loader-search {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-secondary);
    }
  }

  .results {
    display: flex;
    gap: 5rem;

    .no-items-found-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      padding: 5rem 0;
      .no-items-found {
        width: 500px;
        height: 200px;
        background-color: var(--bg-header);
        border: 1px solid var(--border-default);
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
        display: flex;
        color: var(--bm-icon-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .all-results {
      width: 80%;
    }

    .match-found {
      width: 30%;

      a {
        display: flex;
        justify-content: center;
      }
    }

    .mobile-match {
      display: none;
    }
  }

  .paginator-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// @media screen and (max-width: 1200px) {

// }

@media screen and (max-width: 993px) {
  .full-search-container {
    .full-search-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        margin-bottom: 0.7rem;
      }

      .search-input {
        width: 70%;
      }

      small {
        margin-left: 5px;
        align-self: inherit;
      }
    }

    .search-filters {
      ul {
        .active {
        }

        li {
        }
      }

      .toggle-tools {
        p {
        }
      }
    }

    .results {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .no-items-found-container {
        .no-items-found {
        }
      }

      .all-results {
        width: 100%;
      }

      .mobile-match {
        margin-top: 3rem;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .desktop-match {
        display: none;
      }

      .match-found {
      }

      .no-items-found-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 5rem 2rem;
        .no-items-found {
          width: 100%;
          height: 200px;
          border-radius: 5px;
          box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
          background-color: var(--bg-header);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            text-align: center;
            padding: 0.3rem;
            font: 10vw;
          }
        }
      }
    }
  }
}

//small screens
@media screen and (max-width: 576px) {
  .full-search-container {
    .full-search-header {
      .search-input {
        width: 100%;
      }
    }

    .search-filters {
      ul {
        .active {
        }

        li {
        }
      }

      .toggle-tools {
        p {
        }
      }
    }

    .results {
      flex-direction: column;
      align-items: center;
      .no-items-found-container {
        .no-items-found {
        }
      }

      .all-results {
        width: 100%;
      }

      .mobile-match {
        display: flex;
        justify-content: center;
      }

      .desktop-match {
        display: none;
      }

      .match-found {
        width: 100%;
      }
    }
  }
}
